.inputContainer{
    margin:auto;
    margin:1rem;
    text-align: center;
}.inputStyle{
    padding: 1rem;
    width: 80vw;    
    border-radius: .5rem;
    border: 1px solid var(--cream);
    background-color: transparent;
    font-size: 1rem;
}.error{
    color: #ff0000;
    font-size:.7rem;
}